body{
	font-family: 'Open Sans', sans-serif;
	color: white;
}

ul, li {
	display: block;
	margin: 0;
	padding: 0;
}

button:active, button:focus {
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
}

/* ---------- Header_up ---------*/

.header_up {
	background-color: #333333;
	height: 35px;
}

.adress_block {
	font-size: 14px;
	color: white;
	padding-top: 7px;
}

.sign {
	margin-right: 15px;
}

i {
	font-size: 16px;
	color: white;
	margin-top: 9px;
	margin-right: 10px;
}

i:hover {
	color: #fed136;
}


/*--------------- header_content -------------*/

.header {
	background: url(../img/house.jpg);
	height: 650px;
	background-size: cover;
}

.header_content {
	width: 100%;
	height: 95%;
	background-color: rgb(0, 0, 0, 0.5)
}

.logo {
	background: url(../img/logo.png);
	width: 130px;
	height: 115px;
	background-size: cover;
	margin-top: 25px;
}

.menu a {
	font-size: 14px;
	color: white;
	margin-left: 32px;
	display: inline-block;
    position: relative;
    text-decoration: none;
    letter-spacing: 1px;
}

.menu {
	margin-top: 45px;
}

.menu a::before {
    display: block;
    position: absolute;
    content: "";
    height: 2px;
    width: 0;
    background-color: #fed136;
    transition: width .5s ease-in-out, left .5s ease-in-out;
    left: 50%;
    bottom: 0;
}

.menu a::after {
    display: block;
    position: absolute;
    content: "";
    height: 2px;
    width: 0;
    background-color: #fed136;
    transition: width .5s ease-in-out;
    left: 50%;
    bottom: 0;
}

.menu a:hover::before {
	 width: 50%;
     left: 0;
}

.menu a:hover::after {
	 width: 50%;
}


h1 {
	font-size: 36px;
	color: white;
}

span {
	color: #fed136;
}

.header_title {
	width: 600px;
	text-align: center;
	margin: 0 auto;
	font-size: 46px;
	margin-top: 220px;
	line-height: 70px;
}

.header_par {
	font-size: 18px;
	width: 375px;
	margin-top: 22px;
	margin: 0 auto;
}

.block_buttons {
	margin-top: 50px;
	width: 100%;
}

.law_blocks {
	width: 470px;
	margin: 0 auto;
}


.button_call, .button_more {
	width: 200px;
	height: 45px;
	background-color: #ffcd22;
	border: 1px solid #ffcd22;
	border-radius: 5px;
	color: black;
	font-weight: 700; 
	font-size: 16px;
	box-shadow: 0 0 2px #272727;
}

.button_more {
	background-color: white;
	border: 1px solid white;
}

.button_call:hover {
	background-color: #ebbd1d;
	border: #ebbd1d;
}

.button_more:hover {
	background-color: #C0C0C0;
	border: #C0C0C0;
}



.or {
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 10px;
}


/*------------- Section1 ------------*/

.section1 {
	padding-top: 100px;
	padding-bottom: 100px;
}

.line {
	width: 51px;
	height: 3px;
	background-color: #ffcd22; 
	margin-bottom: 20px; 
	margin-top: 20px;
}

h2 {
	color: black;
	font-weight: 700;
	font-size: 20px;
	margin-bottom: 40px;
}

.circle {
	background-color: #fed136;
	height: 50px;
	width: 50px;
	border-radius: 50%;
}

.circle_text {
	color: white;
	font-size: 28px;
	text-align: center;
	padding-top: 5px;
}

.circle_line {
	width: 400px;
	height: 3px;
	background-color: #fed136; 
	margin-top: 25px;
}

.underCircle {
	margin-right: 235px;
}

h3 {
	color: black;
	font-size: 18px;
	font-weight: bold;
}

.circle_par {
	font-size: 16px;
	width: 220px;
	color: black;
}

/*----------- Section2 -----------*/

.section2 {
	background-color: #eeeeee;
}

.doc_block {
	background: url(../img/document.png);
	background-size: cover;
	height: 400px;
	width: 700px;
	margin-right: 50px;
}

.docs {
	width: 100%;
	height: 100%;
}


.docs_par {
	color: black;
	font-size: 16px;
	padding-left: 20px;
}

/*-------- Footer ---------*/

.footer {
	width: 100%;
	background-color: black;
	padding-top: 50px;
	padding-bottom: 50px;
}

h4 {
	font-size: 16px;
	font-weight: bold;
}

.footer_line {
	height: 2px;
	width: 66px;
	background-color: #fed136;
	margin-top: 20px;
	margin-bottom: 43px;
}

.footer_par {
	color: #c0c0c0;
	font-size: 14px;
	width: 80%;
}

.footer_menu a {
	color: #c0c0c0;
	font-size: 14px;
}

.footer_menu li {
	margin-bottom: 15px;
}

.footer_menu a:hover {
	text-decoration: none;
	color: #fed136;
}

h5 {
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 5px;
}

.h5_par {
	color: #c0c0c0;
	font-size: 14px;
	padding-bottom: 10px;
	width: 80%;
}

.h5_email {
	padding-bottom: 0px;
}

/*------- Form ----------*/

.div_form {
	padding-left: 60px;
}

.inp {
	width: 100%;
	height: 40px;
	margin-bottom: 20px;
	padding-left: 15px;
	color: #808080;
}

.text_area {
	height: 60px;
	margin-bottom: 20px;
	padding-left: 15px;
	padding-top: 5px;
}

.form_button {
	border-radius: 5px;
	font-weight: bold;
	width: 100%;
	height: 40px;
	color: black;
	background-color: #fed136;
	border: 1px solid #fed136; 
}

.form_button:hover {
	background-color: #e3b824;
	border: 1px solid #e3b824;
	color: black;
}

.copyright {
	margin-top: 25px;
	text-align: center;
	color: #535353;
}

/*------------- Modal -------------*/

.modal-body {
	width: 70%;
	margin: 0 auto;
	padding-bottom: 50px;
}

.modal_inp {
	border-radius: 0px;
	margin-top: 35px;
}

.zayav_but {
	background-color: #fed136;
	border: 1px solid #fed136;
	font-size: 18px;
	margin-top: 35px;
	height: 40px;
	border-radius: 20px;
	font-weight: bold;
}

.zayav_but:hover {
	background-color: #ebbc1c;
	border: 1px solid #ebbc1c;
}


.header_title_m {
	margin-left: 76px;
	margin-top: 12px;
	font-size: 18px;
	font-weight: bold;
	color: black;
}

.modal_par {
	color: #555;
}
